# R project stuff
.Rproj.user
.Rhistory
.RData
*.Rproj
*.Rmd
*.html

# Local R package management
rsconnect
*.tar.gz
*.zip
*.log

# Entire analysis folder and unused dev files
src/old_codes.R
src/exploration_and_prep_RQS.R

# Git and security
.git